<!DOCTYPE html>
<html lang="en">
	<head>
		<% include partials/header.ejs %>
	</head>
  <body> 
      <% include partials/navbar.ejs %> 
      <div style="margin-top: 50px;">
          <div class="container">
              <div class="row">
                  <div class="col-lg-3">

                  </div>
                  <div class="col-lg-6">
                      <div class="card">
                          <div class="card-body">
                            <h5 class="card-title text-center">SIGN UP</h5>
                            <hr>
                              <form>
                                  <div class="form-group">
                                      <label for="username">Username</label>
                                      <input type="username" class="form-control" id="username" placeholder="Enter Username">
                                  </div>
                                <div class="form-group">
                                  <label for="email">Email address</label>
                                  <input type="email" class="form-control" id="email" placeholder="Enter email">
                                </div>
                                <div class="form-group">
                                  <label for="name">Full Name</label>
                                  <input type="name" class="form-control" id="name" placeholder="Enter FullName">
                                  </div>
                                <div class="form-group">
                                  <label for="password">Password</label>
                                  <input type="password" class="form-control" id="password" placeholder="Enter Password">
                                </div>
                                <div class="form-group">
                                      <label for="password">Confirm Password</label>
                                      <input type="password" class="form-control" id="cpassword" placeholder="Re-Enter Password">
                                    </div>
                                <hr>
                                <div class="row" style="margin-left: 3px;">
                                      <button class="btn btn-success">SIGN UP</button>
                                  </form>                              
                                  <a href="/auth/login" class="btn btn-link" style="margin-left: 10px;">BACK TO LOGIN</a>
                                </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <% include partials/footer.ejs %>
  </body>
</html>

